@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome";

/* body */
.content {
  padding-top: 70px;
}

body {
  background-color: #191919;
}

h4 {
  color: white;
}

/* Footer */
.footer {
  margin-top: 0px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.foot-top {
  margin-left: 110px
}

.foot-top > h5 {
  margin-top: 0px;
  padding-top: 10px;
}

.care {
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 5px;
}

ul {
  list-style: none;
}

.dark {
  background-color: #333333;
  color: white;
  margin-top: 10px;
}

.menu {
  list-style: none;
  display: inline-block;
  padding-left: 5px;
}

.menu > li > a {
  color: white;
}

a:-webkit-any-link {
  text-decoration: none ;
}

/* Navigation */
ul.navbar-nav > li > a {
  color: white;
}

.header {
  position: fixed;
  width: 100%;
  background: #2C2F34;
  z-index: 10;
}

.header .navbar-brand {
  font-weight: 900;
  color: white;
}

.header .navbar {
  margin: 0;
  border: none;
}

@media (min-width: 768px) {
  .header .navbar-brand {
    padding-left: 0;
  }
  .navbar-nav {
    float: right;
  }
}

/* Login form */
.form-group label {
  color: white;
}

.login-form {
  background-color: #2C2F34;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.social {
  background-color: #2C2F34;
  padding: 15px;
  padding-top: 10px;
  border-radius: 10px;
  height: 55px;
}

.social ul{
  display: block;
  margin-left: -40px;
}
.social ul li{
  list-style: none;
  float: left;
  width: 31.33%;
  margin: 0 1%;
}
.social ul li a{
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  padding: 6px;
  display: block;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.social ul li a:hover{opacity: .8;}
.social ul li a.facebook{
   background: #3a589a;
}
.social ul li a.twitter {
  background: #4099ff;
  }
 .social ul li a.google-plus {
  background: #e9544f;
}

.delete-user {
  margin-top: 10px;
}

.sexy_line{
  display: block;
  border: none;
  color: white;
  height: 1px;
  margin-top: 15px;
  background: white;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#000));
}

/* users table */
.user-table {
  background-color: #2C2F34;
  border: 1px solid #191919;
}

th {
  color: white;
  border-bottom: 2px solid #191919 !important;
}

td {
  color: white;
  background-color: #2C2F34;
  border: 1px solid #191919 !important;
}
